@use "../scss/utils/variable" as *;

.app_nav {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 23px;
  height: $navHeight;
  line-height: $navHeight;
  z-index: 10;
}



.flex_center {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.avatar_button {
  cursor: pointer;
}
