@use "../scss/utils/variable" as *;

.view_header {
    position: sticky;
    top: $navHeight;
    z-index: 2;
    padding: $paddingMd $paddingLg 0;
    margin-bottom: $marginXsm;
    background-color: #fff;
  
    .view_header_content {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #eee;
      padding-bottom: $paddingXsm;
      max-width: $maxListWidth;
      margin: 0 auto;
  
      h1 {
        padding: 0;
        margin: 0;
        font-size: $fontSizeMd;
        font-weight: bold;
        line-height: $fontSizeMd;
      }
    }
  
    .check_button {
      display: flex;
    }
  }
  