// To modify and apply themes

  //define themes
  $themes: (
    "dark": (
      base0: #839496,
      base1: #93a1a1,
      base2: #073642,
      base3: #002b36,
      base00: #657b83,
      base01: #586e75,
      base02: #eee8d5,
      base03: #fdf6e3,
    ),
    "light": (
      base0: #657b83,
      base1: #586e75,
      base2: #eee8d5,
      base3: #fdf6e3,
      base00: #839496,
      base01: #93a1a1,
      base02: #073642,
      base03: #002b36,
    ),
  );

@mixin themed() {
    @each $theme, $map in $themes {
      .theme--#{$theme} & {
        $theme-map: () !global;
        @each $key, $submap in $map {
          $value: map-get(map-get($themes, $theme), "#{$key}");
          $theme-map: map-merge(
            $theme-map,
            (
              $key: $value,
            )
          ) !global;
        }
        @content;
            $theme-map: null !global;
        }
    }
}

//do not clear global scss, could be applied to all components
@mixin gthemed() {
    @each $theme, $map in $themes {
      .theme--#{$theme} & {
        $theme-map: () !global;
        @each $key, $submap in $map {
          $value: map-get(map-get($themes, $theme), "#{$key}");
          $theme-map: map-merge(
            $theme-map,
            (
              $key: $value,
            )
          ) !global;
        }
        @content;
        $theme-map: null !global;
      }
    }
}
  
@function t($key: "base0") {
    @return map-get($theme-map, $key);
}