@use "../../../utils/variable" as *;

.task_edit_form{
    background-color: #fff;
    border:1px solid #e5e5e5;
    border-radius: 8px;
}

.task_name{
    outline:none;
    font-weight: bold;
    min-height: 1.5rem;
    margin-bottom:0.4rem;
    cursor:text;
    [match-type=matched] {
        background-color: antiquewhite;
        margin-right: 3px;
    }
    &:empty:before{
        content: attr(placeholder);
        position: absolute;
        color: gray;
        background-color: transparent;
    }
}


.task_name_tag_selector{
    // position: absolute;
    // width: 80%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,.3);
    max-height: 15rem;
    overflow: auto;
    z-index: 1000;
    button{
        text-align: left;
        padding-left:1rem;
        &:hover{
            background-color: #e5e5e5;
        }
    }
}
.task_name_tag_selector_button_on{
    background-color: #e5e5e5;
}

.task_content{
    outline: none;
    min-height: 1.5rem;
    margin-bottom: 0.8rem;
    cursor: text;
    &:empty:before {
        content: attr(placeholder);
        position: absolute;
        color: gray;
        background-color: transparent;
    }
}

.task_edit_area{
    width: 100%;
    padding:1rem;
    border-bottom:1px solid #e5e5e5;
}

.task_edit_buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    button{
        border: 1px solid $grayColor;
        border-radius: 4px;
        margin: 0 .3rem;
        padding: .5rem;
        font-size: 1.5rem;
        cursor: pointer;
        &:hover{
            background-color: #e5e5e5;
        }
    }
}
.task_footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding:1rem;
    button{
        border-radius: 4px;
        margin: 0 .3rem;
        padding: .5rem 2rem;
        font-weight: bold;
    }
}
.task_footer_cancel{
    color: #000;
    background-color: #f5f5f5;
    cursor: pointer;
    &:hover {
        background-color: #e5e5e5;
    }
}
.task_footer_submit{
    color: #fff;
    background-color: #dc4c3e;
    cursor: pointer;
    &:hover {
        background-color: #c3392c;
    }
}