// App.scss

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background-color: #dc4c3e;
}

nav Link,
nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: 600;

 
}

.click_close_cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

