// App.scss

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background-color: #dc4c3e;
}

nav Link,
nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: 600;

 
}


div {
  padding: 20px;
}

.slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem;
}

.background {
  height: 50vh;
  background-image: url('/images/landpage_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.get_started {
  background-color: #c6e6e3;
  border: 0;
  border-radius: 0.5rem;
  height: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}



