@use "./utils/variable" as *;

.container {
    border: 0;
    margin: 0;
    padding: 0;
    width: max;
    height: max;

    header {
        padding: 10px;
        margin:auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        span {
            display: flex;
            flex-direction: row;

            label {
                font-size: $fontSizeSm;
                font-weight: bold;
                display: flex;
                align-items: center;
                padding: $paddingsm;
            }
        }

        a {
            display: inline-block;
            text-decoration: none;
            background-color: transparent;
            border: none;
            cursor: pointer;
            border-radius: $borderRadius;
            padding: $paddingXsm;

            &:hover {
                background-color: $grayColor;
            }
        }
    }

    form {
        display:flex;
        border: 0;
        margin: 0;
        padding: 0;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;

        .submitButton {
            // need to fix the position
            display: flex;
            justify-items: flex-end;
            flex-direction: row-reverse;
            position:relative;
            width: 100%;
            height: $itemMinHeightSm;
            text-align: end;
            padding: 10px;
            z-index: 10;

            button {
                padding: $paddingsm;
                border-radius: $borderRadius;
                background-color: $primaryColor;
                color: $secondaryColor;
                cursor: pointer;
                margin-right: $marginXsm;
            }
        }

        .visible {
            display: block;
        }

        .hidden {
            display: none;
        }

        div {
            flex: 1;
            display: flex;
            flex-direction: column;
            padding: $paddingMd;
            border-top: 1px solid $grayColor;

            input {
                border: 1px solid $grayColor;
                border-radius: $borderRadius;
                padding: $paddingsm;
                width: 30%;

                &:focus {
                    outline: none;
                    border: 1px solid grey;
                }
            }

            * {
                margin:$marginXsm;
            }

            label {
                font-size: $fontSizeSm;
                font-weight: bold;
            }

            span {
                display: inline-block;
                padding: 10px;
                text-decoration: none;
                text-align: center;
                background-color: #ccc;
                border-radius: 5px;
                color: #000;
                width: 30%;

                &:hover {
                    cursor: pointer;
                    background-color: #aaa;
                }
            }
        }

        // ⬇️for email editing page
        .smallGroup {
            display: flex;
            flex-direction: row;
            justify-items: left;
            border-top: none;
            width: 100%;
            padding: 0;
            margin: 0;

            p {
                color: $textSecondaryColor;
                font-size: $fontSizeSm;
                vertical-align: bottom;
                padding-top: $paddingsm;
            }

        }

        .buttonGroup {
            display: flex;
            justify-items: flex-end;
            flex-direction: row-reverse;
            position:relative;
            width: 100%;
            text-align: end;
            padding: 10px;
        }

        .cannotSubmit {
            padding: $paddingsm;
            border-radius: $borderRadius;
            background-color: $accentColor;
            color: $secondaryColor;
            margin-right: $marginXsm;
            cursor: not-allowed;
        }

        .canSubmit {
            padding: $paddingsm;
            border-radius: $borderRadius;
            background-color: $primaryColor;
            color: $secondaryColor;
            cursor: pointer;
            margin-right: $marginXsm;
        }

        .cancelButton {
            padding: $paddingsm;
            border-radius: $borderRadius;
            background-color: $grayColor;
            color: $textPrimaryColor;
            cursor: pointer;
            margin-right: $marginXsm;
        }
    }
}
    