@use "./utils/variable" as *;

.app_layout {
  position: relative;
}

.app_holder {
  position: relative;
  display: flex;
}

.list_sidebar_hide {
  width: 0;
  transform: translateX(-$appSideBarWidth);
  visibility: hidden;
  opacity: 0;
}

.content_holder {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  max-width: $maxListWidth;

  li {
    list-style: none;
  }
}

.view_header {
  padding: $marginLg $marginLg 0;
  position: sticky;
  top: $navHeight;
  background-color: $bodyBg;
  z-index: 5;
  width: 100%;
  margin: 0 auto;

  .view_header_content {
    @include flexRowBetween();
    width: 100%;
    max-width: $maxListWidth;
    flex-grow: 1;
    margin: 0 auto;
    border-bottom: 1px solid $grayColor;
    padding-bottom: $paddingsm;

    h1 {
      font-size: $fontSizeMd;
    }

    span {
      font-weight: 500;
    }
  }

  .no_bottom_border {
    border-bottom: 0;
  }
}

.list_box {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 $marginLg;
  position: relative;
  width: 100%;
  margin: $marginXsm auto;
}

.content_box {
  margin: 0 auto;
  max-width: $maxListWidth;
  width: 100%;
  padding: $marginXsm $marginLg 0;
  display: flex;
  flex-direction: column;
  gap: $gap;

  h4 {
    font-weight: 500;
    padding-bottom: $paddingsm;
    border-bottom: 1px solid $grayColor;
  }

  .searchArea_projects {
    width: 100%;
    border: 1px solid $grayColor;
    border-radius: $borderRadiusSm;
    @include flexRowStart();
    padding: $paddingXsm;
    gap: $paddingXsm;
    outline: initial;
  }

  input {
    width: 100%;
    outline: none;
  }
}

.searchArea_projects:focus-within {
  border: 1px solid $textSecondaryColor;
}

.view_header_project {
  border-bottom: 0px !important;

  a {
    @include flexRowStart();
    gap: $paddingXsm;
    padding: $paddingXsm $paddingsm;
    border-radius: $borderRadiusSm;

    &:hover {
      background-color: $lightGrayColor;
    }
  }
}

.today_task_label{
  padding-top: 0.2rem;
  @include flexRowStart();
  gap: 0.2rem;
  font-size: $fontSizeXsm;
  color: $textSecondaryColor;
}

.btn_projects {
  @include flexRowBetween();

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: $borderRadiusSm;
    padding: $paddingXsm $paddingsm;
    gap: $paddingXsm;
  }

  .add_btn_projects {
    background-color: $lightGrayColor;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      background-color: $grayColor;
    }
  }

  .active_btn_projects {
    border: 1px solid $grayColor;
  }
}

.project_list {
  li {
    @include flexRowBetween();
    border-radius: $borderRadius;
    padding-right: $paddingMd;

    &:hover {
      background-color: $lightGrayColor;

      .project_item_menu {
        opacity: 1;
      }
    }
  }

  a {
    padding: $paddingMd $paddingXsm;
    @include flexRowStart();
    width: 100%;
  }

  .project_item_menu {
    width: 2.4rem;
    height: 2.4rem;
    background-color: $lightGrayColor;
    border-radius: $borderRadiusXsm;
    opacity: 0;
    cursor: pointer;
    color: $textSecondaryColor;

    &:hover {
      color: $textPrimaryColor;
    }
  }
}

.task_item_action_menu {
  @include menuItems();
}

.no_tasks {
  margin: 0 auto;
  text-align: center;
  width: 40%;

  img {
    margin-top: $marginLg;
  }

  h4 {
    margin-top: $marginXsm;
  }

  .no_tasks_content {
    margin: 0 auto;
    width: 70%;
    padding: $paddingsm;
    font-size: $fontSizeXsm;
  }
}

//Filters-labels
.filters_header {
  @include flexRowBetween();
  margin: 0 auto ;
  position: relative;
  border-bottom: 1px solid $grayColor;
  padding: $paddingXsm 0;
}

.content_wrapper {
  position: absolute;
  left: -3rem;
  color: $textSecondaryColor;
  width: 24px;
  height: 24px;
  border-radius: $borderRadiusXsm;
  @include flexRowStart();

  button svg{
    @include flexRowBetween();
  }

  svg {
    transition: all 0.3s;
  }

  &:hover {
    background: $midGrayColor;
  }
}

.content_wrapper_rotate {
  svg {
    transform: rotate(-90deg);
    transition: all 0.3s;
  }
}

.labels_item_container {
  position: relative;
  padding: $paddingsm 0;
  border-bottom: 1px solid $grayColor;

  svg {
    color: $heaveGrayColor;
  }

  a {
    @include flexRowStart();

    .labels_item_content {
      width: 100%;
      @include flexRowBetween();
    }
  }

  &:hover {
    .right_menu {
      opacity: 1;
    }
  }
}

.right_menu {
  position: absolute;
  right: 0;
  @include flexRowStart();
  opacity: 0;
  background-color: #fff;
  z-index: 1;

  span,
  button {
    @include menuButton();
    @include flexRowStart();
    align-items: center;
    margin-left: 0;
  }

  .right_menu_btn {
    padding-left: 4px;
  }
}

.back_to_filter{
  padding: $marginSm $marginLg 0;
  z-index: 10;
  color: $textSecondaryColor;
  font-weight: 500;
  font-size: $fontSizeSm;
  line-height: $fontSizeSm;;

  a{
    padding: $paddingXsm 0.2rem;
    border-radius: $borderRadiusSm;

    &:hover{
      background-color: $lightGrayColor;
    }
  }
}