// App.scss
@use "./utils/" as *;
@tailwind base;
@tailwind components;
@tailwind utilities;

.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 700;
    color: $textPrimaryColor;
    margin: 0.5 rem;
    padding: 0;
    text-align: center;
    justify-items: center;
  }
}

//Dark theme
.dark body{
  background-color: $textPrimaryColor;
  color: $secondaryColor;
  
  #leftbar,
  #settingLeft,
  #task_sidebar,
  #task_sidebar_list {
    background-color: $textSecondaryColor;
    color: $secondaryColor;

    h4, a, span {
      color: $secondaryColor;
    }
  }

  #account_container {
    span {
      background-color: $textSecondaryColor;
      &:hover {
        background-color: rgba($color: $heaveGrayColor, $alpha: 0.8);
      }
    }
  }
  
  #taskEditor,
  #menuBox,
  #settingRight,
  #addProject,
  #newTask,
  #noticeContainer,
  #task_header,
  #task_main_container,
  #project_popup_window,
  #add_label {
    background-color: $textPrimaryColor;
    color: $secondaryColor;
    border: $textSecondaryColor 0.2px solid;

    a, span {
      color: $secondaryColor;
    }
  }

  #listBox,
  #viewHeader,
  #content_holder {
    background-color: $textPrimaryColor;
    color: $secondaryColor;
  }

  #icon {
    color: $secondaryColor;
  }

  #tag {
    color: $heaveGrayColor;
  }

  #settingRight {
    div {
      border-top: 1px solid $textPrimaryColor;
    }
  }

  #task_tag_item,
  #add_btn {
    background-color: $textPrimaryColor;
    &:hover {
      background-color: rgba($color: $heaveGrayColor, $alpha: 0.8);
    }
  }

  #task_sidebar_button,
  #action_menu_btn {
    background-color: none;
    color: $secondaryColor;
    &:hover {
      background-color: rgba($color: $heaveGrayColor, $alpha: 0.8);
    }
  }

  #leftbar_item:hover,
  #project_item:hover,
  #option_link:hover,
  #setting_item:hover {
    background-color: rgba($color: $heaveGrayColor, $alpha: 0.8);
  }

  #project_item,
  #right_menu {
    background-color: none;
    color: $secondaryColor;
  }

  #task_discription,
  #task_label {
    color: $grayColor;
  }
}

.Toastify__toast-theme--dark {
  background-color: $textSecondaryColor;
}
