@use "./utils/variable" as *;

.list_sidebar {
  position: sticky;
  top: $navHeight;
  width: $appSideBarWidth;
  height: calc(100vh - $navHeight);
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  box-sizing: border-box;
  padding: $paddingLg $paddingsm;
  gap: $gap;

  //for hide animation
  transition: all 270ms ease 0ms;
  flex-shrink: 0;

  ul {
    padding: 0;
    margin: 0;
    // padding: 0 5px;
  }

  li {
    list-style: circle;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $paddingXsm;
    font-size: $fontSizeSm;
    border-radius: $borderRadius;
  }

  li:hover {
    background-color: $hoverColor;
  }
}

.list_item_box {
  width: 100%;
  @include flexRowStart();

  a {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-items: baseline;
  }

  .list_item_content {
    padding-left: $paddingXsm;
    line-height: $fontSizeLg;
  }
}

.leftbar_project_header {
  padding: $paddingsm 0;
  font-weight: 500;
  color: $textSecondaryColor;
}

.selected_item {
  background-color: $selectedColor !important;
  color: $primaryColor;
}

.project_title {
  padding: 0 $paddingXsm;
  line-height: $fontSizeLg;
  @include flexRowBetween();
  border-radius: $borderRadius;

  a {
    width: 100%;
  }
}

.project_title:hover {
  background-color: $hoverColor;
}

.leftbar_btn {
  display: none;

  button{
    cursor: pointer;
    @include flexRowStart();
  }

  svg:hover {
    background-color: $hoverColor;
  }
}

.list_sidebar:hover .leftbar_btn {
  display: block;
  @include flexRowStart();
}
