@use "../scss/utils/variable" as *;

.add_project_modal_container {
  position: fixed;
  top: 18vh;
  left: calc(50vw - $addProjectWidth / 2);
  background-color: #fff;
  border-radius: $borderRadius;
  color: $textPrimaryColor;
  width: $addProjectWidth;
  // height: $addProjectHeight;
  overflow: hidden;
  z-index: 1000;
  box-shadow: 0px 0px 4px 4px rgba($color: black, $alpha: 0.1);

  h1 {
    font-size: $fontSizeMd;
    padding: $paddingsm $paddingMd;
  }
}

.add_project_form {
  padding: $paddingMd;
  display: flex;
  flex-direction: column;
  gap: $gap;

  .form_field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $paddingsm;

    .form_field_title {
      font-weight: 700;
    }

    fieldset {
      @include flexRowBetween();
      width: 100%;
      border: 0;
      background-color: $lightGrayColor;
      border-radius: $borderRadius;
      padding: $paddingXsm;
      cursor: not-allowed;

      div {
        width: 100%;
        padding: $paddingsm;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: $borderRadiusSm;
      }
      .selected_view {
        background-color: #fff;
      }
    }
  }

  input,
  button {
    width: 100%;
    border: 1px solid $grayColor;
    border-radius: $borderRadiusSm;
    padding: $paddingXsm;
    outline: none;
    text-align: left;
  }

  //The corresponding function is currently not supported
  button{
    cursor: not-allowed;
  }

  input:focus {
    border: 1px solid $textSecondaryColor;
  }
}

.color_selector {
  @include flexRowBetween();
  div {
    @include flexRowStart;
  }

  .color_dropdown_select_color {
    height: 12px;
    width: 12px;
    background-color: $textPrimaryColor;
    margin: 3px 6px;
    display: inline-block;
    border-radius: 6px;
  }
}

.footer_btn {
  padding: $paddingMd;

  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: $gap;
  align-items: center;

  button {
    // cursor: pointer;
    border-radius: $borderRadius;
    padding: $paddingsm ;
    width: 7.5rem;
    font-weight: 500;
  }
}

.btn_cancel {
  background-color: $lightGrayColor;
  cursor: pointer;

  &:hover {
    background-color: $grayColor;
  }
}

.btn_add {
  background-color: rgba($color: $primaryColor, $alpha: 0.5);
  color: #fff;
  cursor: not-allowed;

}

.named_states{
  background-color: rgba($color: $primaryColor, $alpha: 1);
    cursor: pointer;

}

.save_wrong{
  color: $primaryColor;
}