@use "./utils/variable" as *;


.new_task_container {
  position: fixed;
  top: 10em;
  left: calc(50vw - $minComputerWidth / 2);
  display: flex;
  box-sizing: border-box;
  width: $minComputerWidth;
  flex-direction: column;
  background-color: #fff;
  border-radius: $borderRadius;
  color:$textPrimaryColor;
  box-shadow: 0px 1px 2rem 1px $grayColor;
  padding: $paddingsm $paddingMd;
}
