@use "./utils/variable" as *;

.setting_modal_container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: #fff;
  border-radius: $borderRadius;
  color: $textPrimaryColor;
  width: 95%;
  max-width: $settingPageWidth;
  flex-direction: row;
  // min-height: $settingHeight;
  max-height: $settingPageWidth;
  box-shadow: 0px 0px 4px 4px rgba($color: black, $alpha: 0.1);

}

.setting_left {
  width: 20%;
  padding: $paddingsm;
  min-width: 12rem;
  text-align: left;
  background-color: $lightGrayColor;
  border-radius: $borderRadius;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.setting_right {
  width: 80%;
  padding: $paddingsm;
  border-radius: $borderRadius;
  text-align: left;
  overflow: hidden;
}

.grey_cover {
  background-color: rgba($color:black, $alpha: 0.5);
  z-index: 10;
}

@media screen and (max-height: 900px) {
  .setting_modal_container {
    height: 95%;
  }

}