@use "../scss/utils/variable" as *;

.container {
  width: 100%;
  height: auto;
  background-color: $bodyBg;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20rem;

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50rem;
    height: auto;
    // border-style: solid;
    border-radius: $borderRadius;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    .error {
      color: $errorColor;
      margin-bottom: 10px;
    }

    .input_style {
      width: 100%;
      margin: $marginXsm;
      input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px; // Space between inputs
        border: 1px solid #ccc;
        border-radius: $borderRadius;
      }
    }

    .submit {
      background-color: #007bff;
      &:hover {
        background-color: #0056b3;
      }
      width: 100%;
      padding: 10px;
      border-radius: $borderRadius;
    }

    .dividerWithText {
      display: flex;
      align-items: center;
      text-align: center;
      color: $textSecondaryColor; // Text color
      margin: 20px 0; // Adjust the margin as needed
      width: 100%;

      &::before,
      &::after {
        content: "";
        flex: 1;
        border-bottom: 1px solid #060606; // Change the color and thickness as needed
        margin: 0 10px; // Adjust spacing around the text
      }
      .dividerWithText span {
        padding: 0 5px;
      }
    }

    .google,
    .github {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: 100%;
      padding: 10px;
      border-radius: $borderRadius;
      text-align: center;
      &:hover {
        color: #0056b3;
      }
    }

    .icon {
      height: 2.2rem;
    }
    .signUp {
      margin: $marginSm 0;
      width: 80%;
      .signUpLink {
        display: block;
        text-align: center;
        color: #007bff;
        margin-top: 20px;

        &:hover {
          color: #0056b3;
        }
      }
    }
  }
}
