@use "./utils/variable" as *;

.task_container {
  position: relative;

  &:hover {
    .drag_tool {
      opacity: 1;
    }

    .task_list_action {
      opacity: 1;
    }
  }
}

.content_container {
  @include flexRowStart();
  max-width: 100%;
  position: relative;
  align-items: flex-start;
  padding: $paddingsm 0;
  border-bottom: 1px solid $grayColor;
}

.drag_tool {
  opacity: 0;
  position: absolute;
  left: -2.7rem;
  width: $fontSizeMd;
  height: $fontSizeMd;
  border-radius: $borderRadiusXsm;
  color: $textSecondaryColor;
  transition: all 100ms ease 0ms;

  &:hover {
    background-color: $midGrayColor;
  }
}

.task_content {
  width: 95%;
  flex: 1;
}

.task_list_action {
  @include flexRowStart();
  align-items: center;
  height: 2.4rem;
  position: absolute;
  right: 0;
  top: $paddingsm;
  opacity: 0;
  cursor: pointer;
  color: $textSecondaryColor;
  background-color: #fff;
  box-shadow: 0 1px 2px 2px rgba(255, 255, 255, 1);

  .task_list_action_last {
    position: absolute;
    left: 5rem;
    width: $fontSizeMd;
  }

  .menu_button {
    @include menuButton();
    @include flexRowStart();
    justify-content: center;
  }

  .two_btn {
    @include flexRowStart();
    justify-content: center;
    gap: 2px;
    cursor: pointer;
  }
}

.task_title {
  white-space: normal;
  overflow-wrap: break-word;
  overflow: hidden;
}

.task_description {
  font-size: $fontSizeXsm;
  color: $textSecondaryColor;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task_info_container {
  @include flexRowStart();
  font-size: $fontSizeXsm;
}

.task_info {
  width: 100%;
  @include flexRowStart();
  padding-top: $paddingXsm;
  flex-wrap: wrap;
  gap: $paddingXsm;
  row-gap: 2px;

  a,
  span,
  button {
    @include flexRowStart();
    gap: 0.2rem;
    color: $textSecondaryColor;
    cursor: pointer;
  }

  .tag_box {
    max-width: 15rem;
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
    display: block;
  }

  .task_info_date {
    flex: 0 0 auto;
    color: $primaryColor;
  }
}

.task_item_action_menu {
  @include menuItems();
}

.menu_title {
  padding: 0 $paddingsm;
}

.priority_button_list {
  @include flexRowStart();
  padding: $paddingXsm $paddingsm;

  button {
    @include flexRowBetween();
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: $borderRadiusXsm;
  }

  .button_red {
    color: $priorityRed;
  }

  .button_yellow {
    color: $priorityYellow;
  }

  .button_blue {
    color: $priorityBlue;
  }

  .button_selected {
    border: 1px solid $grayColor;
  }
}

.button_delete {
  color: $primaryColor !important;
}

.task_checkBox {
  width: 2.4rem;
  height: 2.4rem;
  display: grid;
  grid-template-columns: "center";
  place-items: center;
  cursor: pointer;

  .task_checkBox_backgroud {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    box-sizing: border-box;
    grid-area: center;
    opacity: 0.1;
    overflow: hidden;
    z-index: 1;
  }

  .task_checkBox_circle {
    width: 1.8rem;
    height: 1.8rem;
    border: 1px solid $heaveGrayColor;
    grid-area: center;
    border-radius: 50%;
    box-sizing: border-box;

    z-index: 2;
  }

  svg {
    grid-area: center;
    opacity: 0;
    color: $heaveGrayColor;
    z-index: 3;
  }

  &:hover {
    svg {
      opacity: 1;
    }
  }
}

.task_priority1 {
  .task_checkBox_backgroud {
    background-color: $priorityRed;
  }

  .task_checkBox_circle {
    border: 2px solid $priorityRed;
  }

  svg {
    color: $priorityRed;
  }
}

.task_priority2 {
  .task_checkBox_backgroud {
    background-color: $priorityYellow;
  }

  .task_checkBox_circle {
    border: 2px solid $priorityYellow;
  }

  svg {
    color: $priorityYellow;
  }
}

.task_priority3 {
  .task_checkBox_backgroud {
    background-color: $priorityBlue;
  }

  .task_checkBox_circle {
    border: 2px solid $priorityBlue;
  }

  svg {
    color: $priorityBlue;
  }
}

.completed_background {
  background-color: $heaveGrayColor !important;
  opacity: 1 !important;
}
.completed_circle {
  border: 0 !important;
}
.completed_svg {
  opacity: 1 !important;
  color: white !important;
}

.tag_box2 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tag_box3 {
  flex: 0 0 auto;
}

.tag_box4 {
  max-width: 30%;
  margin-left: auto;
}

.btn_menu {
  cursor: pointer !important;
  position: relative;
}
