@use "./utils/variable" as *;

.memberModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 10000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 500px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.modal_overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_wrapper {
  padding: 20px;
  width: 80%;
  max-width: 500px;
  z-index: 10001;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
