@use "./utils/variable" as *;

.memberModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 10000;
  top: 50%; // 调整为居中
  left: 50%; // 调整为居中
  transform: translate(-50%, -50%); // 居中定位
  width: 80%; // 调整宽度
  max-width: 500px; // 最大宽度
  height: auto; // 高度自动
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px; // 内边距
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25); // 阴影效果
}

.modal_overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_wrapper {
  padding: 20px;
  width: 80%;
  max-width: 500px;
  z-index: 10001;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
