@use "./utils/variable" as *;

.app_nav {
  position: sticky;
  top: 0;
  @include flexRowBetween();
  padding: 0 $paddingLg;
  height: $navHeight;
  line-height: $navHeight;
  z-index: 10;
  background-color: $primaryColor;
  color: $secondaryColor;
}

.flex_center {
  position: relative;
  @include flexRowStart();
}

.avatar_button {
  cursor: pointer;
}
